@import "my-games/subnav";

#my-games-dashboard {
  padding-top: 30px;

  h1 {
    color: @color-secondary-1-0;
    margin: 10px auto;
    text-align: center;
  }

  .thumbnail *::selection {
    background: @color-secondary-1-0;
  }

  .plest-card {


  }

  .plest-search {
    padding-top: 20px;
  }

}


